<html>
<head>
  <title>My Blog</title>
  <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
  <link rel="stylesheet" href="/main.css" title="CSS" type="text/css" />
</head>
<body>
  <h2>April 23rd 2019</h2>
  <p>This exercise has tought me how to build a very basic web application. I'm hoping that this will help me understand the power of Rails. I believe what I've built is an example of a MVC setup but I'm not exactly sure. I hope to learn more and I am excited for what the future holds!</p>
</body>
</html>
