<html>
  <head>
    <title>Personal Site</title>
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <link rel="stylesheet" href="/main.css" title="CSS" type="text/css" />
  </head>
  <body>
    <h2>About Me!</h2>
    <p>I began my journey a year ago when pondering what I though I could love doing as a career. I get a great sense of accomplishment from creating and building things. What better to build in the 21st century then web applications!</p>
  </body>
</html>
